{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>My Project</title>
    </head>
    {% include 'material/includes/material_css.html' %}
    <body>
        <div class="page-header">
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        {% include 'material/includes/material_js.html' %}
    </body>
</html>